

.icon{
    position: relative;
    display: inline-block;
}

.icon a{
    position: absolute;
    bottom:0%;
    right: 0%;
}

.bottom-10{
    bottom :125px;
}
.back{
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #000;
}
.backDelete{
    position: fixed;
    right: 0px;
    bottom: 100px;
    margin: 0;
    padding: 0;
    color: #000;
}