.example{
    display: block;
    width: 300px;
    padding: 15px ;
    margin: 30px;
    background: #B3F6AE;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-family: "Arial", "Meiryo";
}
.example:hover{
    background: #7cd475;
}