.example1{
    display: block;
    color: #FFF;
    /* 下線を消す */
    text-decoration: none;
    background-color: #d9d9d9;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin: 50px 0px;
    padding: 20px;
}

label{
    display: block;
    color: #FFF;
    /* 下線を消す */
    text-decoration: none;
    background-color: #d9d9d9;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin: 30px 0px;
    padding: 20px;
}
.form-control{
    text-align: center;
}

.btn{
    display: block;
    color: #FFF;
    /* 下線を消す */
    background-color: #B3F6AE;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin: 50px 0px;
    padding: 20px;
}
.button{
    border: none;
    background-color: transparent;
    color: #FFF;
}
